.table-image {
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    background-position: center center;
    background-repeat:no-repeat;
    width: 600px;
    height: 450px;
    background-image: url("../images/empty-table.jpg");
    position:relative;
    background-size: 100% 100%;
    border: 10px solid white;
    text-align:center;
}