.starter-image {
    position: absolute;
    background-image: url("../images/salad.png");
    width: 250px;
    height: 166px;
    left: 382px;
    top: 87px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75% 75%;
}