.sidebar-left{background-color: $menu-color;}

.sidebar-wrapper{
    display: block;
    height: 100%;
    overflow: hidden;
    padding-top: 74px;
}
.sidebar-profile-info{
    background-color: #666;
    color: #fff;
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
}
.menu-wrapper{
    display: block;;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family:$font-family-thin;

    .side-nav{
        width:100%;
        padding-top: 14px;

        a{
            display: block;
            color: rgba(255,255,255,0.8);
            font-size: $font-size-default;
            line-height: 20px;
            padding: 15px 10px 13px 70px;
            border-bottom: 2px solid $menu-border;
            background: url(../img/nav-ziggo.png) no-repeat;
            background-size: 24px;
            @extend %clearfix; 

            .nav-number{
                float: right;
                background-color: #172e68;
                padding: 4px 5px 2px 5px;
                font-family: BloomSpeakOT-Bold, sans-serif;
                line-height: 14px;
                font-size: 14px;
                border:1px solid #3352a1;
                @include border-radius(3px);
            }
            &.active{
                background-color:#2b2b2b;
            }
        }

                .nav-home{background-position: 18px 12px;}
                .nav-products{background-position: 18px -38px;}
                .nav-usage{background-position: 18px -89px;}
                .nav-bills{background-position: 18px -445px;}
                .nav-upcapps{background-position: 18px -293px;}
                .nav-contact{background-position: 18px -243px;}
                .nav-about{background-position: 18px -344px;}
                .nav-settings{background-position: 18px -192px;}
                .nav-notifications{background-position: 18px -142px;}
                .nav-logout{background-position: 18px -394px;}

        &:last-child{
            border-bottom: none;
            background: none;
        }
    }
}
.applicationName{
        position: absolute;
        bottom: 30px;
        left: 0;
        right: 0;
        text-align: center;
        color:#969a9e;
        line-height:22px;
        .text-sm{
            color:#666666;
        }
}

.nav-profile{
    background-color: #fff;
    padding: 20px 0 15px 0;
    @extend %clearfix;

    .nav-profile-img{
        width: 40px;
        height: 35px;
        overflow: hidden;
        float: left;
        margin: 0 10px;
        @include border-radius(5px);
    }
    .nav-profile-info{
        overflow: hidden;
        span{
            display: block;
            color: $primary-color;
        }
        .nav-profile-name{
            font-family: BloomSpeakOT-Bold, sans-serif;
            font-size: 17px;
        }
    }
}

