.main-meal-image {
    position: absolute;
    background-image: url("../images/main-meal.png");
    width: 300px;
    height: 206px;
    left: 90px;
    top: 42px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80% 80%;
}