<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="content-type" content="text/html; charset=UTF8">



        <!-- compiled CSS -->
        <!-- build:css assets/css/style.min.css --><% styles.forEach( function ( file ) { %>
        <link rel="stylesheet" type="text/css" href="<%= file %>"/><% }); %>
        <!-- endbuild -->
    </head>
    <body ng-cloak>

        <menu></menu>
        <div ui-view="content" class="view-container"></div>


        <!-- compiled JavaScript -->
        <!-- build:js java2days.js --><% scripts.forEach( function ( file ) { %>
        <script type="text/javascript" src="<%= file %>"></script><% }); %>
        <!-- endbuild -->

        <script type="text/javascript">
            app.initialize();
        </script>
    </body>
</html>